.searchBar{
    background-color: #F5f5f5; 
    border-radius: 7%;  
    width: 30%;
    input{
        background-color:#F5F4F6; 
        width: 90%; 
        border: 0;
    }
}
.navbar{
    img{
        border-radius: 50%;
    }
}