$backgroundColor : var(--page-background-color);
$fontColor : var(--font-color);
.searchBar{
    background-color: $backgroundColor; 
    border-radius: 7px;  
    width: 30%;
    input{
        background-color:$backgroundColor; 
        width: 90%; 
        border: 0;
        color: $fontColor;
    }
}
.navbar{
    img{
        border-radius: 50%;
    }
    #username{
        display: inline-block
    }
}