.card-container{
    color: #72767C;
    display: inline-block;
    width: 30%;
    background-color: #FFFFFF;
    margin: 1%;
    .carImage{
        margin: "3%";
        width : "80%";
        height: 100px;
    }
}