$backgroundColor : var(--background-color);
$fontColor : var(--font-color);
.drop-down{
    color : $fontColor; 
    background-color: $backgroundColor;
    border: $backgroundColor;
    border-radius: 7px;
}