.sidebar{
    width: 18.5%;
    position: fixed;
    ul{
        position: relative;
        li{
            list-style-type: none;
            height: 10%;
            &:hover{
                backdrop-filter:  contrast(0.8);
                cursor: pointer;
            }   
        }
    }
}
#loginSection{
    margin-top: 85%;
}