
$backgroundColor : var(--page-background-color);
.booking{
    background-color: $backgroundColor;
    button{
        border-radius: 50%;
        background-color: white; 
        border: 0;
    }
}